#main{
      display: flex;
      display: -webkit-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      border:1px solid #333;
      width: 1000px;
      height: auto;
      background-color: #fff;
      margin: 20px auto;
      padding: 20px;
      box-sizing: border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
}
#main p{
      padding-left: 100px;
      font-size: 12px;
      color: #999;
      display: none;
}

#box{
      width: 60%;
}
#box lable{
      display: inline-block;
      width: 80px;
      text-align: right;
      margin-right: 20px;
      font-size: 20px;
      font-weight: bold;
}
#box input{
      width: 400px;
      height: 40px;
      box-sizing: border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      font-size: 20px;
      padding-left: 10px;
      border: 1px solid #999;
      border-radius: 5px;
      margin: 10px auto;
}
#submit{
      width: 80px;
      height: 40px;
      margin-left: 424px;    
      color:#fff;
      background-color: #00f;
      border:1px solid #00f;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
}
