html,body{
	margin: 0;
	padding: 0;
	background-color: #222;
	width: 100%;
	height: 100%;
}
#page{
	width: 980px;
	height: 1386px;
	margin: 20px auto;
	background-color: #fff;
	position: relative;
}
#header{
	border-bottom:2px solid #938e8c;
	height: 61px;
	width: 892px;
	margin:0 44px;
	font-size: 12px;
	position: relative;
}
#date{
    color: #d45d5c;
    position: absolute;
    right: 0;
    top: 40px;
}
#icon{
	height: 61px;
	width: 110px;
	color: #fff;
	background-color: #d45d5c;
	position: relative;
}
#icon p{
	position: relative;
	left: 10px;
	top:40px;
}
#content{
	margin: 30px 44px;
	border:1px solid #f00;
	height: 1214px;
    position: relative;
}
#top{
	position: relative;
	height: 301px;
	border: 1px solid #ff0;
}
#topleft{
	float: left;
}
#topright{
	float: right;
	width: 203px;
	border: 1px solid #f00;
}
#tleft{
	width: 191px;
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #a0c6ac;
}
#trignt{
	width: 191px;
	position: absolute;
	top: 0;
	left: 450px;
	opacity: 0.6;
	background-color: #e5bac0;
}
#middle{
	height: 200px;
	border: 1px solid #00f;
	margin: 331px 0px;
	position: relative;
}
#middle .article{
	width: 200px;
	height: 200px;
	margin-right: 20px;
	border: 1px solid #0f0;
	float: left;
}
#bottom{
	border: 1px solid #f0f;
	height: 653px;
}
#footerline{
	border-top:1px solid #938e8c;
	height: 50px;
	width: 892px;
	position: absolute;
	bottom: 0;
	right: 44px;
}