html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#container{
	background-color: #fff;
	padding: 20px;
	width: 60%;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid #999;
    margin: 0 auto;
}
header,nav,section,footer{
	display: block;
	border: 1px solid #999;
    width: 80%;
    padding: 20px;
    flex: none;
    margin-bottom: 20px;
}
header{
	background: -webkit-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); /* 标准的语法 */ 
}
nav{
	background: -webkit-radial-gradient(circle, red, yellow, green); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(circle, red, yellow, green); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(circle, red, yellow, green); /* Firefox 3.6 - 15 */
    background: radial-gradient(circle, red, yellow, green); /* 标准的语法 */ 
}
table{
	text-align: left;
	vertical-align: middle;
}
table th{
	background-color: #222;
	color: #fff;
}
table tr{
	background-color: #fff;
}
table tr:nth-child(2n+1){
	background-color: #ccc;
}
table tr.red{
	color: #f00;
}
#textcss{
	padding: 10px;
	background-color: #dff;
	box-shadow: 10px 10px 5px #888;
	text-shadow: 5px 5px 2px #f00;
}
#my2d{
	width: 100px;
	height: 100px;
	border: 1px solid #999;
	border-radius: 10px;
	margin:30px 0;
	background-color: #f00;
	opacity: 0.7;
}
#my2d:hover{
	transform: rotate(30deg);
}
#my3d{
	width: 200px;
	height: 100px;
	border: 1px solid #999;
	border-radius: 10px;
	margin:30px 0;
	background-color: #0f0;
	opacity: 0.8;
}
#my3d:hover{
    transform: rotateY(180deg);
}
